<div class="container">
  <div class="formulario">
    <div>
      <h1>Agregar nuevo producto</h1>
    </div>
    <div class="nombre">Nombre: <input [(ngModel)]="name" type="text"/></div>
    <div class="codigo">Codigo: <input  [(ngModel)]="code" type="text" /></div>
    <div class="descripcion">
      Descripcion:
      <mat-form-field  appearance="fill">
        <mat-label>Textarea</mat-label>
        <textarea [(ngModel)]="description" matInput></textarea>
      </mat-form-field>
    </div>

    <div class="botones">
      <div> <button (click)="save()" > Guardar</button></div>
    <div> <button routerLink="/lista/">Cancelar</button></div>
    </div>



  </div>

</div>
