.titulo {
  padding-left: 1.3rem;
}

.boton {
  padding-top: 1rem;
  text-align: center;
  padding: 0.5rem;
}

.cerrar {
  padding: 0.5rem;
  width: 20%;
  color: white;
  background-color: #3e6ff8;
  border: none;
  border-radius: 5px;
  font-weight: bold;
}

li {
  font-size: 18px;
  font-weight: 100;
}

span {
  font-weight: 500;
}
